.navigation {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 36px auto;
  max-width: 1196px;
}

.sticky {
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 20;
  height: 56px;
  width: 100%;
  max-width: none;
  padding: 0 36px;
  margin-top: 0;
  background-color: #120A14;
  transition: background-color ease-in 300ms;
}

.left-nav {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.left-nav .logo {
  width: 30.118px;
  height: 32px;
}

.logo-text {
  color: #FFF;
  font-size: 24px;
  font-style: normal;
  font-weight: 800;
  line-height: 13px;
}

.center-nav {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
}

.link {
  color: #FFF;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 22px;
  text-transform: uppercase;
}

.link:hover {
  color: #FF4262;
}

.right-nav {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 17px;
}

.right-nav .logo {
  width: 18px;
  height: 18px;
}

.menu-btn {
  display: none;
}

@media screen and (max-width: 1238px) {
  .navigation {
    padding: 0 30px;
  }
}

@media screen and (max-width: 796px) {
  .menu-btn {
    display: block;
  }

  .center-nav,
  .right-nav {
    display: none;
  }

  .menu-social-open {
    display: flex;
    position: absolute;
    top: 56px;
    left: 0;
    width: 100%;
    background-color: #FF4262;
    z-index: 100;
    padding: 20px 20px;
  }

  .menu-links-open {
    position: absolute;
    top: 114px;
    left: 0;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    background-color: #FF4262;
    z-index: 100;
    padding: 30px 20px;
    padding-top: 0;
    box-shadow: 10px 64px 53px rgba(0, 0, 0, 0.2);
  }
}

@media screen and (max-width: 520px) {
  .menu-links-open {
    flex-direction: column;
  }
}