.navigation {
  display: flex;
  justify-content: space-between;
  margin: 36px auto;
  max-width: 1196px;
}

.sticky {
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 20;
  height: 56px;
  width: 100%;
  max-width: none;
  padding: 0 36px;
  margin-top: 0;
  background-color: #120A14;
  transition: background-color ease-in 300ms;
}

.left-nav {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.left-nav .logo {
  width: 30.118px;
  height: 32px;
}

.logo-text {
  color: #FFF;
  font-size: 24px;
  font-style: normal;
  font-weight: 800;
  line-height: 13px;
}

.center-nav {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
}

.link {
  color: #FFF;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 22px;
  text-transform: uppercase;
}

.link:hover {
  color: #FF4262;
}

.right-nav {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 17px;
}

.right-nav .logo {
  width: 18px;
  height: 18px;
}