.block {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  border-radius: 45px;
  background: var(--grey);
  height: 347px;
  max-width: 1240px;
  padding: 0px 60px;
  margin: 0 auto;
  margin-bottom: 163.5px;
}

.left-part {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 26px;
  max-width: 486px;
}

.title {
  color: #000;
  font-size: 30px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.desc {
  color: #000;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

@media screen and (max-width: 1300px) {
  .block {
    margin: 0 20px;
    margin-bottom: 60px;
  }
}

@media screen and (max-width: 848px) {
  .block {
    height: unset;
    justify-content: center;
    padding: 50px;
  }

  .image {
    display: none;
  }
}