.section {
  max-width: 1440px;
  margin: 0 auto;
  margin-bottom: 140px;
  padding: 0 100px;
}

.card {
  max-height: 625px;
  height: 100vh;
  padding-top: 84px;
  padding-bottom: 68px;
  border-radius: 45px;
  background: var(--dark);
}

.header {
  margin-bottom: 85px;
}

.testimonials-container {
  overflow: hidden;
  height: 358px;
  width: 100%;
}

.flickity {
  outline: none;
}

.flickity article {
  margin: 0 50px;
}

@media screen and (max-width: 874px) {
  .section {
    padding: 0 20px;
  }

  .card {
    padding-top: 30px;
    padding-bottom: 60px;
  }
}