.buttons-container {
  display: flex;
  flex-direction: row;
  gap: 35px;
}

.btn-wrapper {
  display: flex;
  align-items: center;
  gap: 14px;
  position: relative;
  height: 28px;
}

.input {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}

.label {
  color: #000;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding-left: 42px;
  cursor: pointer;
}

.circle {
  position: absolute;
  top: 0;
  left: 0;
  width: 28px;
  height: 28px;
  border-radius: 100%;
  border: 1px solid black;
  background-color: white;
  z-index: 1;
}

.input:checked+.label .dot {
  position: absolute;
  top: 50%;
  left: 5px;
  transform: translateY(-50%);
  width: 18px;
  height: 18px;
  border-radius: 100%;
  background-color: var(--green);
  z-index: 20;
}