.wrapper {
  display: flex;
  justify-content: center;
  margin-bottom: 6px;
}

.link {
  color: #FF4262;
  font-size: 24px;
  font-weight: bold;
  border: 1px solid transparent;
}

.link:hover {
  border: 1px solid white;
}