.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 60px auto;
  margin-bottom: 70px;
  padding: 0 100px;
  max-width: 1440px;
}

.right-part {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
}

.link {
  color: #000;
  font-family: Space Grotesk;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
}

.hamburger-menu {
  display: none;
}

@media screen and (max-width: 1254px) {
  .right-part {
    display: none;
  }

  .hamburger-menu {
    display: block;
  }
}

@media screen and (max-width: 874px) {
  .nav {
    margin: 60px auto;
    margin-bottom: 40px;
    padding: 0 20px;
    max-width: 1440px;
  }
}