.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 60px auto;
  margin-bottom: 70px;
  padding: 0 100px;
  max-width: 1440px;
}

.right-part {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
}

.link {
  color: #000;
  font-family: Space Grotesk;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
}