:root {
  --dark: #191a23;
  --green: #b9ff66;
  --grey: #f3f3f3;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  transition: color ease-in-out 300ms;
  transition: background-color ease-in-out 300ms;
}

ul,
ol {
  list-style: none;
  padding: 0px;
  margin: 0px;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  font-family: 'Space Grotesk', sans-serif;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  overflow-x: hidden;
}

img,
picture {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

button {
  all: unset
}

a {
  text-decoration: none;
  color: black;
}