.card {
  max-width: 606px;
  height: 266px;
}

.bubble {
  margin-bottom: 20px;
}

.description-wrapper {
  fill: var(--dark);
  border: 1px solid var(--green);
  border-radius: 30px;
  padding: 48px 52px 52px 52px;
  max-height: 360px;
  overflow-y: auto;
}

.description {
  color: #FFF;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.arrow {
  margin-left: 44px;
  margin-top: -2px;
}

.title-wrapper {
  padding-left: 60px;
}

.name {
  color: #B9FF66;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.title {
  color: #fff;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}