.section {
  width: 1200px;
  margin: 0 auto;
  margin-bottom: 90px;
}

.decoration {
  display: flex;
  justify-content: center;
  margin-bottom: 60px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;
}

.title {
  color: #FF4262;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
}

.main-title {
  color: #FFF;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
}

.btn-wrapper {
  display: flex;
  gap: 10px;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  width: 43px;
  height: 43px;
  border: none;
  outline: none;
  position: relative;
  z-index: 1;
  background: linear-gradient(to left, rgba(255, 26, 64, 1), rgba(255, 73, 171, 1), rgba(69, 47, 255, 1));
  cursor: pointer;
}

.btn::before {
  content: "";
  position: absolute;
  left: 1px;
  right: 1px;
  top: 1px;
  bottom: 1px;
  border-radius: 100%;
  background-color: #120A14;
  z-index: -1;
  transition: 200ms
}

.btn:hover::before {
  opacity: 50%;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
}

.btn:hover::after {
  color: white;
}

.card-container {
  display: flex;
  gap: 32px;
}