.btn {
  color: #000;
  font-family: Space Grotesk;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  border-radius: 14px;
  padding: 19px 35px;
  cursor: pointer;
}

.fill {
  border: 1px solid var(--dark);
  background-color: var(--dark);
  color: #FFF;
}

.outline {
  border: 1px solid var(--dark);
}

.fill-green {
  background-color: var(--green);
}